.BuildControls {
    padding: 1rem 2rem;
    text-align: center;
}

.BuildControls .price {
    font-size: 1.2rem;
    padding: 0.7rem 0;
    font-weight: 500;
}

.orderNow {
    margin: 2rem 0;
    padding: 1.2rem 2rem;
    font-size: 1.1rem;
    text-transform: uppercase;
    background: linear-gradient(rgb(250, 188, 19), rgb(173, 149, 10));
    border: none;
    border-radius: 0.4rem;
    font-weight: 600;
    color: rgb(32, 32, 32);
    box-shadow: 1px 1px 5px rgb(117, 117, 117);
}

.orderNow:not(:disabled) {
    animation: pop 0.35s linear 2;
}

@keyframes pop{
    33% {
        transform: rotate(20deg);
    }

    66% {
        transform: rotate(-20deg);
    }
    
    100% {
        transform: rotate(0deg);
    }
}

.orderNow:disabled {
    background: rgb(220, 240, 164);
    border: 1px solid rgb(197, 197, 197);
    cursor: not-allowed;
}